<div class="container page__container">
    <form action="">
        <div class="row">
            <div class="col-lg-9">
                <div class="page-section">
                    <h4>Pregunta</h4>

                    <div class="list-group">
                        <div class="list-group-item">
                            <div role="group" aria-labelledby="label-question" class="m-0 form-group">
                                <div class="form-row">
                                    <label id="label-question" for="question" class="col-md-3 col-form-label form-label">Detalles de la pregunta</label>
                                    <div class="col-md-9">
                                        <textarea id="question" placeholder="Escribe detalladamente tu pregunta ..." rows="4" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="form-group m-0" role="group" aria-labelledby="label-topic">
                                <div class="form-row align-items-center">
                                    <label id="label-topic" for="topic" class="col-md-3 col-form-label form-label">Tema</label>
                                    <div class="col-md-9">
                                        <select id="topic" class="form-control custom-select w-auto">
                                          <option value="JavaScript">JavaScript</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="list-group-item">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input id="notify" type="checkbox" class="custom-control-input" checked="">
                                <label for="notify" class="custom-control-label">Notify me on email when someone replies to my question</label>
                            </div>
                            <small id="description-notify" class="form-text text-muted">If unchecked, you'll still recieve notifications on our website.</small>
                        </div> -->
                        <div class="list-group-item">
                            <button type="button" class="btn btn-accent">Publicar Pregunta</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>