<div class="container custom-container">
  <div class="row">
    <div class="col-8">
      <!-- List of Lessons to Display - fix!: Component Needed -->
      <div *ngFor="let e of enunciados" class="custom-card">
        <div class="card-title">
          <h4>{{ e.payload.doc.data().enunciado }}</h4>
        </div>
        <div class="card-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod corrupti voluptates tempore molestiae doloribus deleniti debitis, eaque sint repellendus impedit corporis reiciendis accusantium commodi quos rem fugiat veritatis placeat quae.</p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolores libero ad fugit maiores? Tempora magni vero ipsum modi in totam earum, error inventore veniam sapiente ab repudiandae voluptate ut?</p>

          <div class="info">
            <a>
              <img src="/assets/icons/CONTENT/magnifying_glass.svg">
              Más información
            </a>
          </div>
        </div>
      </div>
    </div>
    <app-right-info class="col-4"></app-right-info>
  </div>
</div>
