<div class="container custom-container">
  <div class="row">
    <div class="col-8">
      <mat-icon class="back-button" (click)="backButton()" aria-hidden="false" aria-label="Example home icon">arrow_back</mat-icon>
      <!-- List of Lessons to Display - fix!: Component Needed -->
      <div *ngFor="let pregunta of preguntas | async" class="custom-card" id="{{pregunta.id}}">
        <div class="card-title">
          <h4>{{ pregunta.enunciado }}</h4>
        </div>
        <div class="card-content">
          <div class="preguntas">
            <div *ngFor="let question of pregunta.preguntas" class="pregunta">
              <div class="pregunta">{{question.pregunta}}</div>
              <ul class="opciones">
                <li *ngFor="let opcion of question.respuestas">{{opcion}}</li>
              </ul>
              <div class="solucion">{{question.solucion}}</div>
            </div>
          </div>
          <div class="info">
            <a>
              <img src="/assets/icons/CONTENT/magnifying_glass.svg">
              Más información
            </a>
          </div>
        </div>
      </div>
    </div>
    <app-right-info class="col-4"></app-right-info>
  </div>
</div>
