.course-nav div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 100px;
  background-color: #f5f7fa;
}

.course-nav .material-icons {
  font-size: 1rem;
  color: rgba(39,44,51,.7);
}