<div class="container custom-container">
  <div class="row">
    <div class="col-8 lessons-container">
      <!-- List of Lessons to Display - fix!: Component Needed -->

      <div *ngFor="let lesson of lessons | async; index as i" class="lesson-container" >
        <div class="lesson">
          <img class="lesson-icon" src="{{lesson.icon}}" alt="">
        </div>
        <div class="bubble-container">
          <div class="lesson-info" routerLink="prueba">
            <h3>{{lesson.titulo}}</h3>
            <ul *ngFor="let objetivo of lesson.objetivos" class="objetivos list-unstyled">
              <li>{{objetivo}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <app-right-info class="col-4"></app-right-info>
  </div>
</div>
