.login-body {
  background-image: url('/assets/images/cisneros-background.jpg');
  background-size: 73%;
}

.login-layout {
  background: #FFFFFF;
}

.custom-card {
  margin: auto;

  mat-card {
    padding: 3rem;
  }
}

.image-logo {
  width: 6rem;
  height: auto;
  margin: auto;
  margin-bottom: 1rem;
}

h4 {
  font-family: Roboto, sans-serif;
}

.custom-button {
  background: #FFFFFF;

  img {
    display: flex;
  }
}

.right-login {
  background: rgba($color: grey, $alpha: 0.8);
  align-items: center;
}

@media screen and(max-width: 1000px) {
  .left-login {
    display: none;
  }
}
