.custom-button {
  text-align: center;

  img {
    display: flex;
    flex-direction: column;
    height: 40px;
  }
  mat-icon {
    height: 100%;
    width: auto;
  }
}

.fixed-toolbar {
  width:100%;
  position: sticky;
  top:0;
  z-index: 1;
}

#mainToolbar {
  background-color: #354E5C;
}
