<div class="container" style="margin-top: 2rem;">
    <div class="content">
        <h2>Terminos de uso</h2>
        <div class="legal">
            <ul>
                <li>
                    <strong>Introducción y Aceptación</strong>
                    <p> Por favor lea cuidadosamente. Por acceder a este sitio usted está de acuerdo con los terminos de uso. Si no está de acuerdo con los terminos, no acceda o use esta plataforma.</p>
                    <p>
                        El proyecto titulado “Desarrollo de un ambiente de aprendizaje para fortalecer las competencias básicas en matemáticas bajo el enfoque del diseño universal de aprendizaje” se encuentra siendo desarrollado por los estudiantes de ingeniería de sistemas
                        David Figueroa Rodriguez, Willian Garcia Bovea y Martin Molinares Araujo, asesorados por la Mg. Rocio Ramos Rodiguez, con los siguientes objetivos:
                        <ul>
                            <li>
                                Medir el impacto del uso de la tecnología en ambientes escolares.
                            </li>
                            <li>
                                Poner a prueba el uso del modelo de Diseño Universal de Aprendizaje (DUA) en plataformas digitales.
                            </li>
                            <li>
                                Hacer uso de la plataforma desarrollada en un ambiente real.
                            </li>
                        </ul>
                        <br> Si usted accede a participar en este estudio, se le pedirá responder (preguntas en una entrevista o completar una encuesta, según el caso). Esto tomará aproximadamente 30 minutos de su tiempo. Lo que conversemos durante estas
                        sesiones se grabará, de modo que el investigador pueda transcribir después las ideas que usted haya expresado. La participación de sus hijos en este estudio es estrictamente voluntaria. La información que se recoja será confidencial
                        y no se usará para ningún otro propósito fuera de los de esta investigación. Las respuestas de sus hijos al cuestionario serán codificadas usando un número de identificación y por lo tanto, serán anónimas. Una vez tomadas las entrevistas,
                        los digitales de las grabaciones se destruirán. Si tiene alguna duda, puede hacer las preguntas que requiera en cualquier momento durante su participación en él. Igualmente, puede retirarse del proyecto en cualquier momento sin
                        que eso lo perjudique en ninguna forma. Si alguna de las preguntas durante la entrevista le parecen incómodas, tiene usted el derecho de hacérselo saber al investigador o de no responderlas. Conociendo toda esta información, declaro
                        que acepto que mi hijo participe voluntariamente en este estudio, dada su relevancia en la formación de futuros profesionales.

                </li>
            </ul>
        </div>
    </div>
</div>