<div class="custom-card">
    <div class="card-title">
      <h4>
        Meta Diaria
      </h4>
    </div>

    <div class="card-content">
      <div class="row">
        <div class="col-4">
          <img src="/assets/icons/CONTENT/trophy.svg" style="height: 70px; width: auto;">
        </div>
        <div class="col-8">
          <h5>Progreso</h5>
          <div class="row">
            <div class="col-9">
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-2">
              7/10
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
